<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Movie Index</title>
  </head>

  <body>
    <form action="/movies" method="get">
      <label for="query">Search: </label>
      <input type="text" name="query" id="query" />
      <input type="submit" value="Search" />
    </form>

    <ul>
      <% if @search_movies == [] %>
        <%= @no_results %>
      <% end %>
      <% @display_movies.each do |movie| %>
        <li>
          <a href="<%= "/movies/#{movie[:id]}" %>"><%= movie[:title] %></a>
        </li>
      <% end %>
    </ul>

    <form action="/movies" method="get">
      <label for="page">Jump to Page: </label>
      <input type="number" name="page" id="page" min="1" max="<%= @max_length %>" />
      <input type="submit" value="Search" />
    </form>

  </body>

</html>
